.wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: var(--padding);
}

.title {
	color: var(--main-text-color);
	margin: 0;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--gap);
}
